{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load icraf_dr_tags %} {# #^^ #}

{% block title %} {% trans "Upload Layer"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers upload{% endblock %}


{% block head %}

{{ block.super }}
{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "layer_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Layers" %}</a>
  <h2 class="page-title">{% trans "Upload Layers" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <!-- #^^ ICRAF start -->
    <div id="steps-accordion" class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#steps-accordion" href="#collapseFileUpload">
              Step 1 &raquo; {% trans "Select layer files to upload" %}
            </a>
          </h4>
        </div>
        <div id="collapseFileUpload" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="alert alert-info" role="alert">{% trans "Please upload the layer files in one set with the same file name. A minimum of 4 files in .shp, .shx, .prj, and .dbf formats are required.<br>Example: shapefile.shp, shapefile.shx, shapefile.prj, shapefile.dbf" %}</div>
            {% if incomplete %}
            <section class="widget" id="incomplete-download-list">
              <h3>{% trans "Incomplete Uploads" %}</h3>
              <p>{% trans "You have the following incomplete uploads" %}:</p>
              {% for u in incomplete %}
              <div class="clearfix uip" id="incomplete-{{ u.import_id }}">
                <div class="pull-left">{{ u.name }}, {% trans "last updated on" %} {{ u.date }}</div>
                <div class="upload_actions pull-right">
                  <a class="btn btn-mini" href="#" id="resume-{{ u.import_id }}">{% trans "Resume" %}</a>
                  <a class="btn btn-mini" href="#" id="delete-{{ u.import_id }}"><i class="icon-trash"></i> {% trans "Delete" %}</a>
                </div>
              </div>
              {% endfor %}
            </section>
            <div id="confirm-delete" class="hidden alert alert-warning">
              {% trans "Are you sure you want to delete this upload?" %}
              <a href="#y" class="btn btn-danger">{% trans "Delete" %}</a>
              <a href="#n" class="btn btn-default">{% trans "Cancel" %}</a>
              <a href="#yy">{% trans "Delete, and don't ask me again." %}</a>
            </div>
            {% endif %}

            {% block additional_info %}{% endblock %}

            {% if errors %}
            <div id="errors" class="alert alert-danger">
              {% for error in errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
            {% endif %}

            <div id="upload-status"></div>

            <section id="drop-zone">
              <h3><i class="fa fa-cloud-upload"></i><br />{% trans "Drop files here" %}</h3>
            </section>

            <p>{% trans " or select them one by one:" %}</p>

            <form id="file-uploader" method="post" enctype="multipart/form-data">
              <input class="btn" id="file-input" type="file" multiple>
            </form>

            <section class="widget">
              <ul id="global-errors"></ul>
              <h4>{% trans "Files to be uploaded" %}</h4>
              <div id="file-queue"></div>
            </section>
            
            <section class="charset">
              <p>{% trans "Select the charset or leave default" %}</p>
              <select id="charset">
                {% for charset in charsets %}
                {% if charset.0 == 'UTF-8' %} 
                <option selected='selected' value={{ charset.0 }}>{{ charset.1 }}</option>
                {% else %}
                <option value={{ charset.0 }}>{{ charset.1 }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </section>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default hidden">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#steps-accordion" href="#collapseICRAF">
              Step 1 &raquo; ICRAF
            </a>
          </h4>
        </div>
        <div id="collapseICRAF" class="panel-collapse collapse">
          <div class="panel-body">
            <form id="form_icraf_dr">
              <div class="col-md-6 form-controls">
                <div class="form-group">
                  <label for="icraf_dr_category" class="control-label">{% trans "Category" %}</label>
                  <select id="icraf_dr_category" class="form-control" name="icraf_dr_category">
                    {% for icraf_dr_category in icraf_dr_categories %}
                    <option value={{ icraf_dr_category.id }}>{{ icraf_dr_category }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="icraf_dr_coverage" class="control-label">{% trans "Coverage" %}</label>
                  <select id="icraf_dr_coverage" class="form-control" name="icraf_dr_coverage">
                    {% for icraf_dr_coverage in icraf_dr_coverages %}
                    <option value={{ icraf_dr_coverage.id }}>{{ icraf_dr_coverage }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- # moved to metadata form group
                <div class="form-group">
                  <label for="icraf_dr_source" class="control-label">{% trans "Source" %}</label>
                  <select id="icraf_dr_source" class="form-control" name="icraf_dr_source">
                    {% for icraf_dr_source in icraf_dr_sources %}
                    <option value={{ icraf_dr_source.id }}>{{ icraf_dr_source }}</option>
                    {% endfor %}
                  </select>
                </div>
                -->
                <!-- # replaces resource-edition metadata
                <div class="form-group">
                  <label for="icraf_dr_year" class="control-label">{% trans "Year" %}</label>
                  <select id="icraf_dr_year" class="form-control" name="icraf_dr_year">
                    {% for icraf_dr_year in icraf_dr_years %}
                    <option value={{ icraf_dr_year.id }}>{{ icraf_dr_year }}</option>
                    {% endfor %}
                  </select>
                </div>
                -->
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#steps-accordion" href="#collapseMetadata">
              Step 2 &raquo; {% trans "Edit metadata" %}
            </a>
          </h4>
        </div>
        <div id="collapseMetadata" class="panel-collapse collapse">
          <div class="panel-body">
            <form id="form_metadata">
              <div class="alert alert-danger hidden" role="alert">{% trans "Please complete the required fields below." %}</div>
              <div class="col-md-6 form-controls">
                <div class="form-group">
                  <label for="{{ layer_form.owner.id_for_label }}" class="control-label">{% trans layer_form.owner.label %}</label>
                  {{ layer_form.owner|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.title.id_for_label }}" class="control-label required-field">{% trans layer_form.title.label %}</label>
                  {{ layer_form.title|add_class:"form-control" }}
                </div>
                <!-- # resource-date replaced with icraf_dr_date_created
                <div class="form-group">
                  <label for="{{ layer_form.date.id_for_label }}" class="control-label required-field">{% trans layer_form.date.label %}</label>
                  {{ layer_form.date|add_class:"form-control" }}
                </div>
                -->
                <div class="form-group">
                  <label for="icraf_dr_date_created" class="control-label required-field">{% trans "Date created" %}</label>
                  <div class="input-group date" id="icraf_dr_date_created_picker">
                    <input id="icraf_dr_date_created" class="form-control" name="icraf_dr_date_created" type="text" value="{% now "Y-m-d H:i" %}">
                    <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="icraf_dr_date_published" class="control-label">{% trans "Date published" %}</label>
                  <div class="input-group date" id="icraf_dr_date_published_picker">
                    <input id="icraf_dr_date_published" class="form-control" name="icraf_dr_date_published" type="text">
                    <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="icraf_dr_date_revised" class="control-label">{% trans "Date revised" %}</label>
                  <div class="input-group date" id="icraf_dr_date_revised_picker">
                    <input id="icraf_dr_date_revised" class="form-control" name="icraf_dr_date_revised" type="text">
                    <span class="input-group-addon">
                      <span class="fa fa-calendar"></span>
                    </span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.date_type.id_for_label }}" class="control-label required-field">{% trans layer_form.date_type.label %}</label>
                  {{ layer_form.date_type|add_class:"form-control" }}
                </div>
                <!-- # resource-edition metadata replaced with icraf_dr_year
                <div class="form-group">
                  <label for="{{ layer_form.edition.id_for_label }}" class="control-label">{% trans layer_form.edition.label %}</label>
                  {{ layer_form.edition|add_class:"form-control" }}
                </div>
                -->
                <div class="form-group">
                  <label for="icraf_dr_year" class="control-label required-field">{% trans "Year" %}</label>
                  <select id="icraf_dr_year" class="form-control" name="icraf_dr_year">
                    {% for icraf_dr_year in icraf_dr_years %}
                    <option value={{ icraf_dr_year.id }}>{{ icraf_dr_year }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="icraf_dr_source" class="control-label required-field">{% trans "Source" %}</label>
                  <select id="icraf_dr_source" class="form-control" name="icraf_dr_source">
                    {% for icraf_dr_source in icraf_dr_sources %}
                    <option value={{ icraf_dr_source.id }}>{{ icraf_dr_source }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.abstract.id_for_label }}" class="control-label required-field">{% trans layer_form.abstract.label %}</label>
                  {{ layer_form.abstract|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.purpose.id_for_label }}" class="control-label">{% trans layer_form.purpose.label %}</label>
                  {{ layer_form.purpose|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.maintenance_frequency.id_for_label }}" class="control-label">{% trans layer_form.maintenance_frequency.label %}</label>
                  {{ layer_form.maintenance_frequency|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.regions.id_for_label }}" class="control-label required-field">{% trans layer_form.regions.label %}</label>
                  {{ layer_form.regions|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.restriction_code_type.id_for_label }}" class="control-label">{% trans layer_form.restriction_code_type.label %}</label>
                  {{ layer_form.restriction_code_type|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.constraints_other.id_for_label }}" class="control-label">{% trans layer_form.constraints_other.label %}</label>
                  {{ layer_form.constraints_other|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.license.id_for_label }}" class="control-label">{% trans layer_form.license.label %}</label>
                  {{ layer_form.license|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.language.id_for_label }}" class="control-label required-field">{% trans layer_form.language.label %}</label>
                  {{ layer_form.language|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.spatial_representation_type.id_for_label }}" class="control-label">{% trans layer_form.spatial_representation_type.label %}</label>
                  {{ layer_form.spatial_representation_type|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.temporal_extent_start.id_for_label }}" class="control-label">{% trans layer_form.temporal_extent_start.label %}</label>
                  {{ layer_form.temporal_extent_start|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.temporal_extent_end.id_for_label }}" class="control-label">{% trans layer_form.temporal_extent_end.label %}</label>
                  {{ layer_form.temporal_extent_end|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.supplemental_information.id_for_label }}" class="control-label required-field">{% trans layer_form.supplemental_information.label %}</label>
                  {{ layer_form.supplemental_information|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.distribution_url.id_for_label }}" class="control-label">{% trans layer_form.distribution_url.label %}</label>
                  {{ layer_form.distribution_url|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.distribution_description.id_for_label }}" class="control-label">{% trans layer_form.distribution_description.label %}</label>
                  {{ layer_form.distribution_description|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.data_quality_statement.id_for_label }}" class="control-label required-field">{% trans layer_form.data_quality_statement.label %}</label>
                  {{ layer_form.data_quality_statement|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label for="{{ layer_form.featured.id_for_label }}">{{ layer_form.featured }} {% trans layer_form.featured.label %}</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label for="{{ layer_form.is_published.id_for_label }}" class="control-label">{{ layer_form.is_published }} {% trans layer_form.is_published.label %}</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.thumbnail_url.id_for_label }}" class="control-label">{% trans layer_form.thumbnail_url.label %}</label>
                  {{ layer_form.thumbnail_url|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.keywords.id_for_label }}" class="control-label required-field">{% trans layer_form.keywords.label %}</label>
                  {{ layer_form.keywords|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.poc.id_for_label }}" class="control-label">{% trans layer_form.poc.label %}</label>
                  {{ layer_form.poc|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ layer_form.metadata_author.id_for_label }}" class="control-label">{% trans layer_form.metadata_author.label %}</label>
                  {{ layer_form.metadata_author|add_class:"form-control" }}
                </div>
                <fieldset id="category_form" class="form-group">
                  <label class="control-label required-field">{% trans "Category" %}</label>
                  {% autoescape off %}
                  {% for choice in category_form.category_choice_field.field.choices %}
                  <div class="radio">
                    <input type="radio" name="category_choice_field" value="{{ choice.0 }}">
                      {{ choice.1 }}
                  </div>
                  {% endfor %}
                  {% endautoescape %}
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      {% if GEONODE_SECURITY_ENABLED %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#steps-accordion" href="#collapsePermissions">
              Step 3 &raquo; {% trans "Set permissions" %}
            </a>
          </h4>
        </div>
        <div id="collapsePermissions" class="panel-collapse collapse">
          <div class="panel-body">
            <form id="permission_form">
              {% include "_permissions.html" %}
            </form>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- #^^ ICRAF end -->
    
    <section>
      <a href="#" id="clear-button" class="btn btn-default">{% trans "Clear" %}</a>
      <a href="#" id="upload-button" class="btn btn-danger">{% trans "Upload files" %}</a>
    </section>
  </div>

  {% if GEONODE_SECURITY_ENABLED %}
  <div class="col-md-4">
    <!-- ICRAF: moved to main body -->
  </div>
  {% endif %}
</div>
{% endblock %}


{% block extra_script %}
{% include 'metadata_form_js.html' %} 
<script src="{{ STATIC_URL }}js/custom_layer_upload.js"></script>
<script data-main="{% static 'geonode/js/upload/main' %}" 
  src="{% static 'lib/js/require.js' %}">
</script>

<script type="text/javascript">
{% autoescape off %}

  csrf_token =  "{{ csrf_token }}",
  form_target = "{{ UPLOADER_URL }}",
  geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
  time_enabled = {{ TIME_ENABLED|lower  }},
  userLookup = "{% url "geonode.views.ajax_lookup" %}"

{% endautoescape %}

</script>
{% if GEONODE_SECURITY_ENABLED %}
{% with resource=layer %}
{% include "_permissions_form_js.html" %}
{% endwith %}
{% endif %}
{% endblock extra_script %}