{% extends "documents/document_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load icraf_dr_tags %} {# #^^ #}

{% block title %}{{ document.typename }} — {{ block.super }}{% endblock %}

{% block head %}
  {% include "geonode/ext_header.html" %}
  {{ block.super }}
{% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}
<div class="page-header">
  <a href="{% url "document_browse" %}" class="btn btn-primary pull-right">{% trans "Explore Documents" %}</a>
  <h2 class="page-title">{% trans "Edit Metadata" %}</h2>
</div> 
<div class="row">
  <div class="col-md-8">
    <p class="lead">
        {% trans "Editing details for" %} {{ document.title }}
    </p>
    <form id="form_metadata" class="form-horizontal" action="{% url "document_metadata" document.id %}" method="POST">
      {% if document_form.errors or category_form.errors or author_form.errors or poc.errors %}
        <p class="bg-danger">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}</p>
        <ul class="bg-danger">
        {% if author_form.errors %}
          <li>{% trans "Metadata Author" %}</li>
          {{ author_form.errors }}
        {% endif %}
        {% if poc_form.errors %}
          <li>{% trans "Point of Contact" %}</li>
          {{ poc_form.errors }}
        {% endif %}
        {% for field in document_form %}
            {% if field.errors %}
                <li>{{ field.label }}</li>
            {% endif %}
        {% endfor %}

        {% if category_form.errors %}
            <li>{{ category_form.errors.as_ul }}</li>
        {% endif %}
        </ul>
      {% endif %}
      
      <div class="alert alert-danger hidden" role="alert">{% trans "Please complete the required fields below." %}</div>
      
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
      </div>
      
      {% csrf_token %}
      <div class="form-controls">
        <fieldset id="doc_type" class="form-group">
          <label class="control-label required-field">{% trans "Type" %}</label>
          {% autoescape off %}
          <div class="radio">
            <input type="radio" name="doc_type" value="Regulation"{% ifequal document.doc_type "Regulation" %} checked="checked"{% endifequal %}>
              Regulation
          </div>
          <div class="radio">
            <input type="radio" name="doc_type" value="Development Document"{% ifequal document.doc_type "Development Document" %} checked="checked"{% endifequal %}>
              Development Document
          </div>
          <div class="radio">
            <input type="radio" name="doc_type" value="other"{% ifequal document.doc_type "other" %} checked="checked"{% endifequal %}>
              Other
          </div>
          {% endautoescape %}
        </fieldset>
        
        <div class="form-group hidden">
          <label for="icraf_dr_category" class="control-label">{% trans "Category" %}</label>
          <select id="icraf_dr_category" class="form-control" name="icraf_dr_category">
            {% for icraf_dr_category in icraf_dr_categories %}
            <option value={{ icraf_dr_category.id }}{% ifequal icraf_dr_main.category icraf_dr_category %} selected="selected"{% endifequal %}>{{ icraf_dr_category }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group hidden">
          <label for="icraf_dr_coverage" class="control-label">{% trans "Coverage" %}</label>
          <select id="icraf_dr_coverage" class="form-control" name="icraf_dr_coverage">
            {% for icraf_dr_coverage in icraf_dr_coverages %}
            <option value={{ icraf_dr_coverage.id }}{% ifequal icraf_dr_main.coverage icraf_dr_coverage %} selected="selected"{% endifequal %}>{{ icraf_dr_coverage }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.owner.id_for_label }}" class="control-label">{% trans document_form.owner.label %}</label>
          {{ document_form.owner|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.title.id_for_label }}" class="control-label required-field">{% trans document_form.title.label %}</label>
          {{ document_form.title|add_class:"form-control" }}
        </div>
        
        <!-- # resource-date replaced with icraf_dr_date_created
        <div class="form-group">
          <label for="{{ document_form.date.id_for_label }}" class="control-label required-field">{% trans document_form.date.label %}</label>
          {{ document_form.date|add_class:"form-control" }}
        </div>
        -->
        
        <div class="form-group">
          <label for="icraf_dr_date_created" class="control-label required-field">{% trans "Date created" %}</label>
          <div class="input-group date" id="icraf_dr_date_created_picker">
            <input id="icraf_dr_date_created" class="form-control" name="icraf_dr_date_created" type="text" value="{{ document_form.date.value|date:"Y-m-d H:i" }}">
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="icraf_dr_date_published" class="control-label">{% trans "Date published" %}</label>
          <div class="input-group date" id="icraf_dr_date_published_picker">
            <input id="icraf_dr_date_published" class="form-control" name="icraf_dr_date_published" type="text" value="{{ icraf_dr_main.date_published|date:"Y-m-d H:i" }}">
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        
        <div class="form-group">
          <label for="icraf_dr_date_revised" class="control-label">{% trans "Date revised" %}</label>
          <div class="input-group date" id="icraf_dr_date_revised_picker">
            <input id="icraf_dr_date_revised" class="form-control" name="icraf_dr_date_revised" type="text" value="{{ icraf_dr_main.date_revised|date:"Y-m-d H:i" }}">
            <span class="input-group-addon">
              <span class="fa fa-calendar"></span>
            </span>
          </div>
        </div>
        
        <div class="form-group hidden">
          <label for="{{ document_form.date_type.id_for_label }}" class="control-label required-field">{% trans document_form.date_type.label %}</label>
          {{ document_form.date_type|add_class:"form-control" }}
        </div>
        
        <!-- # resource-edition metadata replaced with icraf_dr_year
        <div class="form-group">
          <label for="{{ document_form.edition.id_for_label }}" class="control-label">{% trans document_form.edition.label %}</label>
          {{ document_form.edition|add_class:"form-control" }}
        </div>
        -->
        
        <div class="form-group">
          <label for="icraf_dr_year" class="control-label required-field">{% trans "Year" %}</label>
          <select id="icraf_dr_year" class="form-control" name="icraf_dr_year">
            {% for icraf_dr_year in icraf_dr_years %}
            <option value={{ icraf_dr_year.id }}{% ifequal document_form.edition.value icraf_dr_year.year_name %} selected="selected"{% endifequal %}>{{ icraf_dr_year }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="icraf_dr_source" class="control-label required-field">{% trans "Source" %}</label>
          <select id="icraf_dr_source" class="form-control" name="icraf_dr_source">
            {% for icraf_dr_source in icraf_dr_sources %}
            <option value={{ icraf_dr_source.id }}{% ifequal icraf_dr_main.source icraf_dr_source %} selected="selected"{% endifequal %}>{{ icraf_dr_source }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.abstract.id_for_label }}" class="control-label required-field">{% trans document_form.abstract.label %}</label>
          {{ document_form.abstract|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.purpose.id_for_label }}" class="control-label">{% trans document_form.purpose.label %}</label>
          {{ document_form.purpose|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.maintenance_frequency.id_for_label }}" class="control-label">{% trans document_form.maintenance_frequency.label %}</label>
          {{ document_form.maintenance_frequency|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.regions.id_for_label }}" class="control-label required-field">{% trans document_form.regions.label %}</label>
          {{ document_form.regions|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.restriction_code_type.id_for_label }}" class="control-label">{% trans document_form.restriction_code_type.label %}</label>
          {{ document_form.restriction_code_type|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.constraints_other.id_for_label }}" class="control-label">{% trans document_form.constraints_other.label %}</label>
          {{ document_form.constraints_other|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.license.id_for_label }}" class="control-label">{% trans document_form.license.label %}</label>
          {{ document_form.license|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.language.id_for_label }}" class="control-label required-field">{% trans document_form.language.label %}</label>
          {{ document_form.language|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.spatial_representation_type.id_for_label }}" class="control-label">{% trans document_form.spatial_representation_type.label %}</label>
          {{ document_form.spatial_representation_type|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.temporal_extent_start.id_for_label }}" class="control-label">{% trans document_form.temporal_extent_start.label %}</label>
          {{ document_form.temporal_extent_start|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.temporal_extent_end.id_for_label }}" class="control-label">{% trans document_form.temporal_extent_end.label %}</label>
          {{ document_form.temporal_extent_end|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.supplemental_information.id_for_label }}" class="control-label">{% trans document_form.supplemental_information.label %}</label>
          {{ document_form.supplemental_information|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.distribution_url.id_for_label }}" class="control-label">{% trans document_form.distribution_url.label %}</label>
          {{ document_form.distribution_url|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.distribution_description.id_for_label }}" class="control-label">{% trans document_form.distribution_description.label %}</label>
          {{ document_form.distribution_description|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.data_quality_statement.id_for_label }}" class="control-label required-field">{% trans document_form.data_quality_statement.label %}</label>
          {{ document_form.data_quality_statement|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <div class="checkbox">
            <label for="{{ document_form.featured.id_for_label }}">{{ document_form.featured }} {% trans document_form.featured.label %}</label>
          </div>
        </div>
        
        <div class="form-group">
          <div class="checkbox">
            <label for="{{ document_form.is_published.id_for_label }}" class="control-label">{{ document_form.is_published }} {% trans document_form.is_published.label %}</label>
          </div>
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.thumbnail_url.id_for_label }}" class="control-label">{% trans document_form.thumbnail_url.label %}</label>
          {{ document_form.thumbnail_url|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.keywords.id_for_label }}" class="control-label required-field">{% trans document_form.keywords.label %}</label>
          {{ document_form.keywords|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.poc.id_for_label }}" class="control-label">{% trans document_form.poc.label %}</label>
          {{ document_form.poc|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.metadata_author.id_for_label }}" class="control-label">{% trans document_form.metadata_author.label %}</label>
          {{ document_form.metadata_author|add_class:"form-control" }}
        </div>
        
        <div class="form-group">
          <label for="{{ document_form.resource.id_for_label }}" class="control-label">{% trans document_form.resource.label %}</label>
          {{ document_form.resource|add_class:"form-control" }}
        </div>
      </div>
      
      <fieldset class="form-controls modal-forms modal hide fade" id="poc_form" >
        <h2>{% trans "Point of Contact" %}</h2>
        {{ poc_form|as_bootstrap }}
        <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
      </fieldset>
      
      <fieldset class="form-controls modal-forms modal hide fade" id="metadata_form">
        <h2>{% trans "Metadata Provider" %}</h2>
          {{ author_form|as_bootstrap }}
        <button type='button' class="modal-cloose-btn btn btn-primary">Done</button>
      </fieldset>
      
      <fieldset id="category_form">
        <label class="control-label required-field">{% trans "Category" %}</label><br/>
        {% autoescape off %}
        <div>
        {% for choice in category_form.category_choice_field.field.choices %}
          <div>
            <input type="radio" name="category_choice_field" value="{{ choice.0 }}"
            {% ifequal category_form.initial choice.0 %}
              checked="checked"
            {% endifequal %}> 
            {{ choice.1 }}
            </input>
          </div>
          {% endfor %}
        </div>
        {% endautoescape %}
      </fieldset>
      <br>
      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Update" %}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
{% block extra_script %}
{% include 'metadata_form_js.html' %}
<script src="{{ STATIC_URL }}js/custom_document_metadata.js"></script>
{% endblock %}
